html {
	background-color: #ddd;
	margin: 0;
}

body {
	margin: 0;
}

#quorum-state {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
}

.container {
	margin: 0 auto;
	display: grid;
	width: 700px;
	background-color: bisque;
}

.container > h2, .container > h4 {
	text-align: center;
	margin: 0.5rem;
}

.container > .content {
	display: grid;
	grid-template-areas: "sidebar main-content";
	grid-template-columns: 1fr 2fr;
	grid-gap: 1rem;
	margin-top: 1rem;
}

.container > .content > .sidebar {
	grid-area: sidebar;
	background-color: azure;
}

.container > .content > .main-content {
	grid-area: main-content;
	background-color: floralwhite;
	padding: 1rem;
}

.container > .content > .main-content > #result {
	padding: 1rem;
	border: 1px solid #000;
	display: none;
	margin-top: 1rem;
}

#quorum-checking {
	position: absolute;
	bottom: 0;
	left: 0;
}